#flash-message
  -flash.each do |name, msg|
    -name = 'success' if name == :success
    -name = 'error' if name == :warning || name == :alert
    .alert{class: "alert-#{name}"}
      %a.close{href: '#', "data-dismiss" => "alert"}x
      #{msg}
