=form_for @calorie_log, :html => { :class => 'form-inline' } do |f|
  =f.text_field :calories
  =f.text_field :consumed_on, value: @calorie_log.consumed_on.strftime('%Y-%m-%d')
  =f.submit 'Update', class: 'btn btn-info'
  =link_to 'Cancel', root_path, class: 'btn'
  =link_to 'Delete Log', @calorie_log, method: :delete, confirm: "Delete this entry? This can't be undone.", class: 'btn btn-danger'
