#logo {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
  font-size: 30px;
  line-height: 36px;
}

#logo:hover {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
}
